html {
  font-size: 18px;
}
.App-Header{
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(to right, rgba(255,255,255,1), rgba(26,148,49,1));
  height: 150px;
  border-bottom-style: solid;
  border-width: 10px;
  border-color: black;

}



.HeaderImage{
  top: 11px;
  position: absolute;
  border-radius: 10px;
  margin-left: 10px;
  padding: 0;

}

.App-Main {
  height: 90vh;
  width: auto;

  padding: 0 /*17% 10% 17%*/;
  /*background-image: url('ahmad-dirini-F7Sive0fwIg-unsplash.jpg');*/
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;

}