.MatchList {
    padding:10px;

}

.MatchList ul{
    list-style-type: none;
    /*align-items: left;
    justify-content: left;*/
    padding: 0;
    overflow-y: scroll;
    height: 18vh;

}
/* ----- ScrollBar -----*/
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
/* ----- ScrollBar -----*/

.testButton {
    cursor: pointer;
    width: 8.11rem;
    padding: .77rem;
    margin-top: 0.6rem;
    margin-right: 0.6rem;
    border-radius: 54px;
    background-color: #009E00;
    text-align: center;
    font-size: .833rem;
    transition: background-color .25s;
    border: 0px;
    color: #ffffff;
    font-weight: 500;
    position: relative;
    outline: none;
    left:10%;

}
