
.sidebar{

    top:160px;
    height: 100vh;
    padding-left:0;
    padding-top: 0;
    background-color: rgba(11,156,49,0.9);
    font-size: 30px;
    position: absolute;
    color: white;
    text-align: center;


    width:200px;

    z-index: 200;
    left: -100%;
    animation: slide-open 1s forwards;
}
.sidebar.close{
    left:0;
    animation: slide-closed 2s forwards;
}


@keyframes slide-open {
    100% { left:0 }
}

@keyframes slide-closed {
    100% { left:-100% }
}

.lien button{

    text-align: center;
    opacity: 1;
    background-color: white;

    margin-bottom: 20px;
    border-width: 0;

    font-size: .833rem;
    outline: none;
    cursor: pointer;
    width: 8.11rem;
    padding: .77rem 0;
    border-radius: 54px;

}

h2{
    font-weight: bolder;
    text-decoration:underline;
    text-decoration-color: black;
}

#close{

    margin-top: 3rem;
    bottom: 200px;
    text-align: center;
}

button:hover {
    transition: background-color .25s;
    background-color: green;
}