

.available {
  overflow-y: scroll;
  width: 200px;
  height: 300px;
  padding: 2.27rem 1.16rem;
  background-color: #ffff;
  border: 2px solid #000000;
  margin-left: 2rem;
}

.selected {
  float: right;
  overflow-y: scroll;
  width: 200px;
  height: 300px;
  padding: 2.27rem 1.16rem;
  background-color: #ffff;
  border: 2px solid #000000;
  margin-right: 2rem;
}
  
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.confirm-button {
  position: relative;
  bottom: 0%;
  left: 37%;
  cursor: pointer;
  width: 8.11rem;
  padding: .77rem;
  margin-top: 0.6rem;
  border-radius: 54px;
  background-color: #009E00;
  text-align: center;
  font-size: .833rem;
  transition: background-color .25s;
  border: 0px;
  color: #ffffff;
  font-weight: 500;
}

.confirm-button:hover{
  background-color: #006D00;
}