.available {
  overflow-y: scroll;
  width: 200px;
  height: 300px;
  padding: 2.27rem 1.16rem;
  background-color: #ffff;
  border: 2px solid #000000;
  margin-left: 2rem;
}

.selected {
  float: left;
  overflow-y: scroll;
  width: 200px;
  height: 300px;
  padding: 2.27rem 1.16rem;
  background-color: #ffff;
  border: 2px solid #000000;
  margin-right: 2rem;
}
  
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}