#toggle{

    cursor: pointer;
    font-size: 45px;
    color: black;

    width: 60px;

    position:absolute;
    top: 180px;
    left: 15px;
    border-width: 0;
    outline: none;
    background-color: transparent;

}

#toggle:hover{
    background-color: #009E00;
    border-radius: 15px;
    outline: black;
}